<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanfandou.admin.system.dao.PermissionMapper">

	<resultMap type="com.fanfandou.admin.system.entity.Permission" id="permissionMapper">
		<id property="id" column="id"/>
		<result property="resourceId" column="resource_id"/>
		<result property="actionId" column="action_id"/>
		<result property="type" column="type"/>
		<result property="permissionValue" column="permission_value"/>
		<result property="createTime" column="create_time"/>
		<result property="available" column="available"/>
	</resultMap>


	<select id="selectAll"  resultMap="permissionMapper" >
		<![CDATA[
                select * from sys_permission
                 ]]>
	</select>

	<select id="selectActionId"  resultType="int" >
		<![CDATA[
           SELECT action_id from sys_permission where id in (SELECT id2 from sys_relation
           WHERE id1=#{id1,jdbcType=INTEGER} and relation_type=#{typeId,jdbcType=INTEGER})
           and resource_id=#{resourceId,jdbcType=INTEGER}
                 ]]>
	</select>

	<select id="selPerByResIdAndActionId"  resultMap="permissionMapper" >
		<![CDATA[
                select * from sys_permission where resource_id=#{0} and action_id=#{1}
                 ]]>
	</select>

	<select id="selByRoleUserId" resultMap="permissionMapper">
		<![CDATA[
              SELECT * FROM sys_permission WHERE id IN (SELECT id2 FROM sys_relation WHERE id1=#{0} and relation_type=#{1})
        ]]>
	</select>

	<delete id="delete" parameterType="int">
		<![CDATA[
		    delete from sys_permission where id = #{id}
		     ]]>
	</delete>

	<select id="selectById"  resultMap="permissionMapper" parameterType="int">
		<![CDATA[
		   select * from sys_permission where id = #{id}
		    ]]>
	</select>


	<insert id="insert" parameterType="com.fanfandou.admin.system.entity.Permission" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	     INSERT INTO sys_permission (resource_id,action_id,type,permission_value,create_time,available) VALUES (
		#{resourceId},
		#{actionId},
		#{type},
		#{permissionValue},
		#{createTime},
		#{available}
	)
	 ]]>
	</insert>

	<update id="update" parameterType="com.fanfandou.admin.system.entity.Permission">

         <![CDATA[
        UPDATE sys_permission SET
            resource_id = #{resourceId},
            action_id = #{actionId},
            type = #{type},
            permission_value = #{permissionValue},
            create_time = #{createTime},
            available = #{available}
        WHERE
            id = #{id,jdbcType=INTEGER}
 ]]>
	</update>

	<select id="pageList"  resultMap="permissionMapper" parameterType="java.util.Map">
		<![CDATA[
		   select * from sys_permission order by #{str1,jdbcType=VARCHAR} #{str2,jdbcType=VARCHAR} limit #{num1,jdbcType=INTEGER},#{num2,jdbcType=INTEGER}
		    ]]>
	</select>

	<select id="totalCount"  resultType="int" >
		<![CDATA[
		   select count(*) from sys_permission
		    ]]>
	</select>

</mapper>