<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanfandou.admin.system.dao.UserMapper">

    <resultMap type="com.fanfandou.admin.system.entity.User" id="userMapper">
        <id property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
        <result property="nikeName" column="nike_name"/>
        <result property="realName" column="real_name"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
        <result property="loginTime" column="login_time"/>
        <result property="LoginIp" column="login_ip"/>
        <result property="count" column="count"/>
        <result property="salt" column="salt"/>
        <result property="locked" column="locked"/>
        <result property="lockReason" column="lock_reason"/>
        <result property="language" column="language"/>
        <result property="memo" column="memo"/>
    </resultMap>

    <select id="selectAll" resultMap="userMapper">
		<![CDATA[
                select * from sys_user
        ]]>
	</select>

    <delete id="delete" parameterType="int">
		<![CDATA[
		    delete from sys_user where id = #{id}
        ]]>
	</delete>

    <select id="selectById" resultMap="userMapper" parameterType="int">
		<![CDATA[
		   select * from sys_user where id = #{id}
        ]]>
	</select>

    <select id="selectByLoginName" resultMap="userMapper" parameterType="String">
        <![CDATA[
		   select * from sys_user where login_name = #{loginName}
        ]]>
    </select>

    <insert id="insert" parameterType="com.fanfandou.admin.system.entity.User" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	     INSERT INTO sys_user (login_name,password,nike_name,real_name,mobile,email,create_time,login_time,login_ip,count,salt,locked,lock_reason,language,memo) VALUES (
		#{loginName},
		#{password},
		#{nikeName},
		#{realName},
		#{mobile},
		#{email},
		#{createTime},
		#{loginTime},
		#{LoginIp},
		#{count},
		#{salt},
		#{locked},
		#{lockReason},
		#{language},
		#{memo}
	)
        ]]>
	</insert>

    <update id="update" parameterType="com.fanfandou.admin.system.entity.User">
         <![CDATA[
        UPDATE sys_user SET
            login_name = #{loginName},
            password = #{password},
            nike_name = #{nikeName},
            real_name = #{realName},
            mobile = #{mobile},
            email = #{email},
            create_time = #{createTime},
            login_time = #{loginTime},
            login_ip = #{LoginIp},
            count = #{count},
            salt = #{salt},
            locked = #{locked},
            lock_reason = #{lockReason},
            language = #{language},
            memo = #{memo}
        WHERE
            id = #{id,jdbcType=INTEGER}
        ]]>
	</update>

    <select id="pageList"  resultMap="userMapper" parameterType="java.util.Map">
        <![CDATA[
		   select * from sys_user
		   where login_name LIKE #{loginName,jdbcType=VARCHAR}
		   order by ${str1} ${str2}
		   limit #{num1,jdbcType=INTEGER},#{num2,jdbcType=INTEGER}
		    ]]>
    </select>

    <select id="totalCount"  resultType="int" >
        <![CDATA[
		   select count(*) from sys_user
		    ]]>
    </select>

</mapper>