<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanfandou.platform.serv.game.dao.GameAreaMapper">
    <resultMap id="BaseResultMap" type="com.fanfandou.platform.api.game.entity.GameArea">
        <id column="game_area_id" property="id" jdbcType="INTEGER"/>
        <result column="game_id" property="gameId" jdbcType="INTEGER"/>
        <result column="site_ids" property="siteIds" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="area_tag" property="areaTag" jdbcType="TINYINT"/>
        <result column="load_status" property="loadStatus" jdbcType="TINYINT"/>
        <result column="maintenance_status" property="maintenanceStatus" jdbcType="TINYINT"
                typeHandler="com.fanfandou.common.handler.EnumStatusHandler"/>
        <result column="maintenance_desc" property="maintenanceDesc" jdbcType="VARCHAR"/>
        <result column="valid_status" property="validStatus" jdbcType="TINYINT"
                typeHandler="com.fanfandou.common.handler.EnumStatusHandler"/>
        <result column="available_time" property="availableTime" jdbcType="TIMESTAMP"/>
        <result column="support_version_min" property="supportVersionMin" jdbcType="VARCHAR"/>
        <result column="support_version_max" property="supportVersionMax" jdbcType="VARCHAR"/>
        <result column="area_display_order" property="displayOrder" jdbcType="INTEGER"/>
        <result column="area_desc" property="areaDesc" jdbcType="VARCHAR"/>
        <result column="area_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="area_client_enter_addr" property="clientEnterAddr" jdbcType="VARCHAR"/>
        <result column="area_server_enter_addr" property="serverEnterAddr" jdbcType="VARCHAR"/>

        <association property="areaGroup" column="area_group_id"
                     javaType="com.fanfandou.platform.api.game.entity.AreaGroup"
                     resultMap="com.fanfandou.platform.serv.game.dao.AreaGroupMapper.BaseResultMap"/>

    </resultMap>


    <resultMap id="BaseResultMapNormal" type="com.fanfandou.platform.api.game.entity.GameArea">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="game_id" property="gameId" jdbcType="INTEGER"/>
        <result column="site_ids" property="siteIds" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="area_tag" property="areaTag" jdbcType="TINYINT"/>
        <result column="load_status" property="loadStatus" jdbcType="TINYINT"/>
        <result column="maintenance_status" property="maintenanceStatus" jdbcType="TINYINT"
                typeHandler="com.fanfandou.common.handler.EnumStatusHandler"/>
        <result column="valid_status" property="validStatus" jdbcType="TINYINT"
                typeHandler="com.fanfandou.common.handler.EnumStatusHandler"/>
        <result column="available_time" property="availableTime" jdbcType="TIMESTAMP"/>
        <result column="support_version_min" property="supportVersionMin" jdbcType="VARCHAR"/>
        <result column="support_version_max" property="supportVersionMax" jdbcType="VARCHAR"/>
        <result column="area_display_order" property="displayOrder" jdbcType="INTEGER"/>
        <result column="area_desc" property="areaDesc" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="client_enter_addr" property="clientEnterAddr" jdbcType="VARCHAR"/>
        <result column="server_enter_addr" property="serverEnterAddr" jdbcType="VARCHAR"/>

        <association property="areaGroup" column="area_group_id"
                     javaType="com.fanfandou.platform.api.game.entity.AreaGroup"
                     resultMap="com.fanfandou.platform.serv.game.dao.AreaGroupMapper.BaseResultMap"/>

    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, game_id, area_group_id, site_ids, area_code, area_name, area_tag, load_status, maintenance_status,
    valid_status, available_time, support_version_min, support_version_max, display_order, 
    area_desc, create_time, client_enter_addr, server_enter_addr
  </sql>
    <sql id="area_Column_List">
    g.id game_area_id, g.game_id game_id, g.area_group_id area_group_id, g.site_ids site_ids, g.area_code area_code , g.area_name area_name, g.area_tag area_tag, g.load_status load_status, g.maintenance_status maintenance_status,
    g.valid_status valid_status, g.available_time available_time, g.support_version_min support_version_min, g.support_version_max support_version_max, g.display_order area_display_order,
    g.area_desc area_desc, g.create_time area_create_time, g.client_enter_addr area_client_enter_addr, g.server_enter_addr area_server_enter_addr,g.maintenance_desc,

    a.id group_id,a.game_id game_id,a.area_group_code area_group_code,a.area_group_name area_group_name,
    a.area_group_desc area_group_desc,a.display_order display_order,a.client_enter_addr group_client_enter_addr,a.server_enter_addr group_server_enter_addr,a.create_time group_create_time
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.fanfandou.platform.api.game.entity.GameAreaExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from game_area
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="getAreasSelective" resultMap="BaseResultMapNormal" parameterType="java.util.Map">
        SELECT * FROM game_area WHERE 1 = 1
        <if test="gameId != null">
            AND game_id = #{gameId,jdbcType=INTEGER}
        </if>
        <if test="site != null">
            AND site_ids like concat('%,',#{site,jdbcType=VARCHAR},',%')
        </if>

        order by display_order asc

        limit #{startNum,jdbcType=INTEGER},#{endNum,jdbcType=INTEGER}
    </select>

    <select id="getTotalArea" resultType="int" parameterType="java.util.Map">
        SELECT count(*) FROM game_area WHERE 1 = 1
        <if test="gameId != null">
            AND game_id = #{gameId,jdbcType=INTEGER}
        </if>
        <if test="site != null">
            AND site_ids like concat('%,',#{site,jdbcType=VARCHAR},',%')
        </if>
    </select>

    <select id="getAreasByGameId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="area_Column_List"/>
        FROM game_area g, area_group a WHERE g.game_id = #{gameId,jdbcType=INTEGER} and g.area_group_id = a.id and
        g.valid_status = 1  order by g.display_order asc;
    </select>

    <select id="getAreasListByGameId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="area_Column_List"/>
        FROM game_area g, area_group a WHERE g.game_id = #{gameId,jdbcType=INTEGER} and g.area_group_id = a.id   order by g.display_order asc;
    </select>

    <select id="getAreasByGameCode" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="area_Column_List"/>
        FROM game_area g, area_group a WHERE g.game_id = #{gameId,jdbcType=INTEGER} and
        g.area_code=#{areaCode,jdbcType=VARCHAR} and g.area_group_id = a.id and valid_status = 1;
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="area_Column_List"/>
        from game_area g,area_group a
        where g.id = #{id,jdbcType=INTEGER} and g.area_group_id = a.id;
    </select>
    <select id="getAreasAll" resultMap="BaseResultMapNormal">
    SELECT * FROM game_area
  </select>

    <select id="checkCodeExist" resultType="int" parameterType="map">
    SELECT count(*) FROM game_area WHERE area_code = #{areaCode,jdbcType=VARCHAR} and game_id = #{gameId,jdbcType=INTEGER}
  </select>

    <select id="getAreasCountForGroup" resultType="int" parameterType="int">
    SELECT count(*) FROM game_area WHERE  area_group_id = #{id,javaType=INTEGER}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.fanfandou.platform.api.game.entity.GameArea">
    insert into game_area (id, game_id, area_group_id, site_ids,
      area_code, area_name, area_tag, 
      load_status, maintenance_status, valid_status, 
      available_time, support_version_min, support_version_max, 
      display_order, area_desc, create_time, 
      client_enter_addr, server_enter_addr)
    values (#{id,jdbcType=INTEGER}, #{areaGroupId,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{siteIds,jdbcType=VARCHAR},
      #{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{areaTag,jdbcType=TINYINT}, 
      #{loadStatus,jdbcType=TINYINT}, #{maintenanceStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
       #{maintenanceDesc, jdbcType=VARCHAR},#{validStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
      #{availableTime,jdbcType=TIMESTAMP}, #{supportVersionMin,jdbcType=VARCHAR}, #{supportVersionMax,jdbcType=VARCHAR}, 
      #{displayOrder,jdbcType=INTEGER}, #{areaDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{clientEnterAddr,jdbcType=VARCHAR}, #{serverEnterAddr,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.fanfandou.platform.api.game.entity.GameArea">
        insert into game_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gameId != null">
                game_id,
            </if>
            <if test="areaGroup.id != null">
                area_group_id,
            </if>
            <if test="siteIds != null">
                site_ids,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="areaName != null">
                area_name,
            </if>
            <if test="areaTag != 0">
                area_tag,
            </if>
            <if test="loadStatus != 0">
                load_status,
            </if>
            <if test="maintenanceStatus != null">
                maintenance_status,
            </if>
            <if test="maintenanceDesc != null">
                maintenance_desc,
            </if>
            <if test="validStatus != null">
                valid_status,
            </if>
            <if test="availableTime != null">
                available_time,
            </if>
            <if test="supportVersionMin != null">
                support_version_min,
            </if>
            <if test="supportVersionMax != null">
                support_version_max,
            </if>
            <if test="displayOrder != null">
                display_order,
            </if>
            <if test="areaDesc != null">
                area_desc,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="clientEnterAddr != null">
                client_enter_addr,
            </if>
            <if test="serverEnterAddr != null">
                server_enter_addr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="gameId != null">
                #{gameId,jdbcType=INTEGER},
            </if>
            <if test="areaGroup != null">
                #{areaGroup.id,jdbcType=INTEGER},
            </if>
            <if test="siteIds != null">
                #{siteIds,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="areaTag != null">
                #{areaTag,jdbcType=TINYINT},
            </if>
            <if test="loadStatus != null">
                #{loadStatus,jdbcType=TINYINT},
            </if>
            <if test="maintenanceStatus != null">
                #{maintenanceStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
            </if>
            <if test="maintenanceDesc != null">
                #{maintenanceDesc,jdbcType=VARCHAR},
            </if>
            <if test="validStatus != null">
                #{validStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
            </if>
            <if test="availableTime != null">
                #{availableTime,jdbcType=TIMESTAMP},
            </if>
            <if test="supportVersionMin != null">
                #{supportVersionMin,jdbcType=VARCHAR},
            </if>
            <if test="supportVersionMax != null">
                #{supportVersionMax,jdbcType=VARCHAR},
            </if>
            <if test="displayOrder != null">
                #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="areaDesc != null">
                #{areaDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="clientEnterAddr != null">
                #{clientEnterAddr,jdbcType=VARCHAR},
            </if>
            <if test="serverEnterAddr != null">
                #{serverEnterAddr,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fanfandou.platform.api.game.entity.GameAreaExample"
            resultType="java.lang.Integer">
        select count(*) from game_area
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update game_area
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.gameId != null">
                game_id = #{record.gameId,jdbcType=INTEGER},
            </if>
            <if test="record.areaGroup != null">
                area_group_id = #{record.areaGroup.id,jdbcType=INTEGER},
            </if>
            <if test="record.siteIds != null">
                site_ids = #{record.siteIds,jdbcType=VARCHAR},
            </if>
            <if test="record.areaCode != null">
                area_code = #{record.areaCode,jdbcType=VARCHAR},
            </if>
            <if test="record.areaName != null">
                area_name = #{record.areaName,jdbcType=VARCHAR},
            </if>
            <if test="record.areaTag != 0">
                area_tag = #{record.areaTag,jdbcType=TINYINT},
            </if>
            <if test="record.loadStatus != 0">
                load_status = #{record.loadStatus,jdbcType=TINYINT},
            </if>
            <if test="record.maintenanceStatus != null">
                maintenance_status =
                #{record.maintenanceStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
            </if>
            <if test="record.maintenanceDesc != null">
                maintenance_desc = #{record.maintenanceDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.validStatus != null">
                valid_status =
                #{record.validStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
            </if>
            <if test="record.availableTime != null">
                available_time = #{record.availableTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.supportVersionMin != null">
                support_version_min = #{record.supportVersionMin,jdbcType=VARCHAR},
            </if>
            <if test="record.supportVersionMax != null">
                support_version_max = #{record.supportVersionMax,jdbcType=VARCHAR},
            </if>
            <if test="record.displayOrder != null">
                display_order = #{record.displayOrder,jdbcType=INTEGER},
            </if>
            <if test="record.areaDesc != null">
                area_desc = #{record.areaDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.clientEnterAddr != null">
                client_enter_addr = #{record.clientEnterAddr,jdbcType=VARCHAR},
            </if>
            <if test="record.serverEnterAddr != null">
                server_enter_addr = #{record.serverEnterAddr,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update game_area
        set id = #{record.id,jdbcType=INTEGER},
        game_id = #{record.gameId,jdbcType=INTEGER},
        area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
        site_ids = #{record.siteIds,jdbcType=VARCHAR},
        area_code = #{record.areaCode,jdbcType=VARCHAR},
        area_name = #{record.areaName,jdbcType=VARCHAR},
        area_tag = #{record.areaTag,jdbcType=TINYINT},
        load_status = #{record.loadStatus,jdbcType=TINYINT},
        maintenance_status =
        #{record.maintenanceStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
        maintenance_desc = #{record.maintenanceDesc,jdbcType=VARCHAR},
        valid_status =
        #{record.validStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
        available_time = #{record.availableTime,jdbcType=TIMESTAMP},
        support_version_min = #{record.supportVersionMin,jdbcType=VARCHAR},
        support_version_max = #{record.supportVersionMax,jdbcType=VARCHAR},
        display_order = #{record.displayOrder,jdbcType=INTEGER},
        area_desc = #{record.areaDesc,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        client_enter_addr = #{record.clientEnterAddr,jdbcType=VARCHAR},
        server_enter_addr = #{record.serverEnterAddr,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fanfandou.platform.api.game.entity.GameArea">
        update game_area
        <set>
            <if test="gameId != null">
                game_id = #{gameId,jdbcType=INTEGER},
            </if>
            <if test="areaGroup != null">
                area_group_id = #{areaGroup.id,jdbcType=INTEGER},
            </if>
            <if test="siteIds != null">
                site_ids = #{siteIds,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="areaTag != 0">
                area_tag = #{areaTag,jdbcType=TINYINT},
            </if>
            <if test="loadStatus != 0">
                load_status = #{loadStatus,jdbcType=TINYINT},
            </if>
            <if test="maintenanceStatus != null">
                maintenance_status =
                #{maintenanceStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
            </if>
            <if test="maintenanceDesc != null">
                maintenance_desc = #{maintenanceDesc,jdbcType=VARCHAR},
            </if>
            <if test="validStatus != null">
                valid_status =
                #{validStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
            </if>
            <if test="availableTime != null">
                available_time = #{availableTime,jdbcType=TIMESTAMP},
            </if>
            <if test="supportVersionMin != null">
                support_version_min = #{supportVersionMin,jdbcType=VARCHAR},
            </if>
            <if test="supportVersionMax != null">
                support_version_max = #{supportVersionMax,jdbcType=VARCHAR},
            </if>
            <if test="displayOrder != null">
                display_order = #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="areaDesc != null">
                area_desc = #{areaDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="clientEnterAddr != null">
                client_enter_addr = #{clientEnterAddr,jdbcType=VARCHAR},
            </if>
            <if test="serverEnterAddr != null">
                server_enter_addr = #{serverEnterAddr,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fanfandou.platform.api.game.entity.GameArea">
    update game_area
    set game_id = #{gameId,jdbcType=INTEGER},
      area_group_id = #{areaGroupId,jdbcType=INTEGER},
      site_ids = #{siteIds,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      area_tag = #{areaTag,jdbcType=TINYINT},
      load_status = #{loadStatus,jdbcType=TINYINT},
      maintenance_status = #{maintenanceStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
      maintenance_desc = #{maintenanceDesc,jdbcType=VARCHAR},
      valid_status = #{validStatus,jdbcType=TINYINT,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
      available_time = #{availableTime,jdbcType=TIMESTAMP},
      support_version_min = #{supportVersionMin,jdbcType=VARCHAR},
      support_version_max = #{supportVersionMax,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      area_desc = #{areaDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      client_enter_addr = #{clientEnterAddr,jdbcType=VARCHAR},
      server_enter_addr = #{serverEnterAddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>